//@import ".././css/normalize.css";
@import './vars/_fonts.scss';


#app {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 910px) {
    padding: 0 15px;
  }
}


html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: IBMPlexSans;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #636363;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.overflow-hidden {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: none;
    color: #5850FF;
    transition: color .2s ease;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.text_large {
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
  color: #333333;
}

.text_medium {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.text_blue {
  color: #66CCFF;
}

//.row {
//  display: flex;
//  justify-content: center;
//  flex-wrap: wrap;
//  margin: -30px -12.5px;
//}
//
//.col-4 {
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  margin: 30px 12.5px;
//  width: calc(100% / 12 * 4 - 25px);
//  @media (max-width: 910px) {
//    width: calc(100% - 25px);
//  }
//}
//
//.col-12 {
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  margin: 30px 12.5px;
//  width: calc(100% - 25px);
//  @media (max-width: 910px) {
//    width: calc(100% - 25px);
//  }
//}
//
//.col-6 {
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  margin: 30px 12.5px;
//  width: calc(100% / 12 * 6 - 25px);
//  @media (max-width: 910px) {
//    width: calc(100% - 25px);
//  }
//}
//
//
//.col-8 {
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  margin: 30px 12.5px;
//  width: calc(100% / 12 * 8 - 25px);
//  @media (max-width: 910px) {
//    width: calc(100% - 25px);
//  }
//}

.button {
  display: inline-block;
  padding: 26px 66px;
  border-radius: 38px;
  cursor: pointer;
  text-align: center;
}

.button--blue {
  background-color: #3CDCFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.button--trans {
  border: 2px solid #3CDCFF;
  box-sizing: border-box;
  border-radius: 38px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #48DEFF;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 800;
  line-height: 155%;
  color: #030000;
  @include adaptiv-font(42, 24);
}

.desc {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  /* or 222% */
  color: #030000;
}
