<template>
  <section class="banner">
    <div class="banner__container">
      <div class="banner__content">
        <div class="banner__wrapper">
          <div class="banner__title">
            Оставьте заявку на бесплатную консультацию
          </div>
          <div class="banner__desc">
            Мы перезвоним вам в ближайшее время
          </div>
        </div>
        <div class="banner__wrapper">
          <input class="banner__input input" type="text"  placeholder="Ваше имя">
          <input class="banner__input input--name input" type="text" placeholder="+7 (__)__-__-__">
          <a class="banner__button button button--trans" href="#">Отправить заявку</a>
          <div class="banner__agree">Нажимая кнопку,вы даете согласие на обработку персональных данных</div>
        </div>
      </div>

    </div>
  </section>
</template>
<script>
// import Vue from 'vue'
// const VueInputMask = require('vue-inputmask').default
// Vue.use(VueInputMask)
export default {
  name: 'BannerForm'
//   methods: {
//   //   maskCheck: function (field){
//   //     if (field.target.inputmask.isComplete()) {
//   //       console.log('is Complete');
//   //     } else {
//   //       console.log('is Incomplete');
//   //     }
//   //   }
//   // }
}
</script>
<style lang="scss">
.banner {
  background: {
    image: url("../assets/image/imgForm.png");
    size: cover;
    position: center;
  };

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-right: 7%;
    padding: 125px 0;
  }

  &__title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 155%;
    color: #030000;
    max-width: 367px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    /* or 222% */
    color: #030000;
    max-width: 195px;
    width: 100%;
    align-self: flex-start;
  }

  &__input {
    margin-bottom: 20px;
  }

  &__button {
    margin-bottom: 10px;
  }

  &__agree {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #030000;
    max-width: 212px;
    width: 100%;
    align-self: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
  }
}

.input {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid #9CB7CA;
  box-sizing: border-box;
  border-radius: 38px;
  padding: 22px 53px 21px 27px;
  color: #030000;

  &::placeholder {
    color: #9CB7CA;
  }

  &--name {
    padding: 34px 53px 9px 27px;
  }
}

</style>
