<template>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__logo logo">
        <a class="logo__link" :href="Logo.url" v-for="(Logo, index) in Logos" :key="index">
          <img class="logo__img logo--black" :src="require(`../assets/image/${Logo.name}.svg`)" alt="Логотип">
        </a>
      </div>
      <div class="footer__list">
        <a class="footer__link" v-for="(footerListItem, index) in footerListItems" :key="index"
           :href="footerListItem.url">{{ footerListItem.title }}</a>

      </div>
      <div class="footer__socials-list">
        <a class="socials-link" :href="socialItem.url"
           v-for="(socialItem, index) in socialItems"
           :key="index"
        >
          <img class="socials-img socials-img--blue"
               :src="require(`../assets/image/${socialItem.link}.svg`)"
               :alt="socialItem.link"
               v-svg-inline
          >
        </a>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footer',
  props: ['Logos', 'socialItems'],
  data () {
    return {
      footerListItems: [
        {
          title: 'Политика конфиденциальности',
          url: '#'
        },
        {
          title: 'Соглашение на обработку персональных данных',
          url: '#'
        }
      ]
    }
  }
}
</script>
<style lang="scss">
.footer {
  background-color: #F1F2F6;
  padding: 65px 0;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex-grow: 1;
  }

  &__list {
    display: flex;
    flex-grow: 4;
  }

  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #537B97;
    max-width: 200px;
    width: 100%;
  }

  &__socials-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  &__socials-img {

  }
}

.socials-img--blue {
  fill: #537B97;
}
</style>
