<template>
  <header class="header" :class="{'scrolled':scroll}" v-scroll="handleScroll">
    <div class="header__container">
      <div class="header__logo logo">
        <a class="logo__link" :href="Logo.url" v-for="(Logo, index) in Logos" :key="index">
          <img class="logo__img logo--white" :src="require(`../assets/image/${Logo.name}.svg`)" v-svg-inline
               alt="Логотип">
        </a>
      </div>
      <nav class="header__list">
        <a class="header__link"
           v-for="(headerLink, index) in headerLinks"
           :href="headerLink.url"
           :key="index">
          {{ headerLink.name }}
        </a>
      </nav>
      <div class="header__burger">
        <Burger
          @click="handleBurger"
          :active="active"
        />
      </div>
    </div>
    <div class="header__menu" v-if="active">
      <div class="header__menu-top">
        <div class="header__menu-logo logo">
          <a class="logo__link" :href="Logo.url" v-for="(Logo, index) in Logos" :key="index">
            <img class="logo__img logo--white" :src="require(`../assets/image/${Logo.name}.svg`)" v-svg-inline
                 alt="Логотип">
          </a>
        </div>
        <div class="header__menu-burger">
          <Burger
            @click="handleBurger"
            :active="active"
          />
        </div>
      </div>
      <div class="header__menu-list">
        <a class="header__menu-link"
           v-for="(headerLink, index) in headerLinks"
           :href="headerLink.url"
           :key="index">
          {{ headerLink.name }}
        </a>
      </div>
    </div>
  </header>
</template>
<script>
import Burger from './Burger.vue'

export default {
  name: 'Header',
  active: false,
  components: { Burger },
  props: ['Logos'],
  data () {
    return {
      active: false,
      headerLinks: [
        {
          name: 'Все туры',
          url: '#'
        },
        {
          name: 'Отзывы',
          url: '#'
        },
        {
          name: 'Контакты',
          url: '#'
        }
      ],
      headerBackground: [
        {
          name: 'imgBackground'
        }
      ],
      scroll: false
    }
  },
  methods: {
    handleScroll: function () {
      this.scroll = window.scrollY > 100
    },
    handleBurger () {
      this.active = !this.active
    }
  }
}
</script>
<style lang="scss">
.scrolled {
  background-color: #333333;
}

.active {

}

.header {
  position: fixed;
  width: 100%;
  color: white;
  z-index: 1;
  padding-top: 25px;
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 910px) {
      display: none;
    }
  }

  &__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 20px;
  }
}

.header__menu {
  background-color: #333333;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
  }
}
</style>
