<template>
  <div class="popup">
    <div class="popup__content">
      <button class="popup__button button button--blue" type="default" @click="toggleHandlePopup">Z</button>
      <input class="popup__input input" type="text" placeholder="Ваше имя">
      <input class="popup__input input--name input" type="text" placeholder="+7 (__)__-__-__">
      <a class="popup__button button button--trans" href="#">Отправить заявку</a>
      <div class="popup__agree">Нажимая кнопку,вы даете согласие на обработку персональных данных</div>
      <button class="popup__button button button--blue" type="default" @click="toggleHandlePopup">Закрыть</button>
    </div>
    <div class="popup__overlay" @click="toggleHandlePopup">
    </div>
  </div>
</template>
<script>
export default {
  name: 'Popup',
  data () {
    return {}
  },
  methods: {
    toggleHandlePopup () {
      this.$emit('handlePopup', false)
    }
  }
}
</script>
<style lang="scss">
.popup {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;

  &__content {
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #FFFFFF;
    box-shadow: 0 0 0 17px gray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    padding: 20px;
  }

  &__overlay {
    background: rgba(64, 64, 64, .4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &__wrapper {

  }
}
</style>
