<template>
  <section class="primary">
    <div class="primary__container">
      <div class="primary__title">
        Открой для себя Новую Ирландию
      </div>
      <div class="primary__desc">
        Авторские туры по экзотическим уголкам от Ивана Иванова
      </div>
      <div class="primary__wrapper">
        <div class="primary__button button button--blue" @click="handlePopupChange">
          Оставить заявку
        </div>
        <div class="primary__play">
          <div class="primary__play-icon">
            <img src="../assets/image/iconPlay.svg"
                 @click="handlePopupChange" alt="">
          </div>
          <div class="primary__play-text">Посмотрите видео-отчет 2018-2019</div>
        </div>
      </div>
      <div class="primary__footer">
        <div class="primary__socials">
          <div class="primary__socials-title">
            Подписывайтесь в соцсетях
          </div>
          <div class="primary__socials-list">
            <a :href="socialItem.url" class="socials-link" v-for="(socialItem, index) in socialItems" :key="index">
              <img class="socials-img--white" :src="require(`../assets/image/${socialItem.link}.svg`)"
                   :alt="socialItem.link" v-svg-inline>
            </a>
          </div>
        </div>
        <div class="primary__slides">
          <div class="slides-item" v-for="(slideItem, index) in slideItems" :key="index">
            <div class="slides-item__wrapper">
              <div class="slider-item__number">{{ slideItem.num }}</div>
              <div class="slider-item__title">
                {{ slideItem.title }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <transition name="fade">
        <Popup
          v-if="handlePopupForm"
          @handlePopup="handlePopupChange"
        />
      </transition>
    </div>
  </section>
</template>
<script>
import Popup from './Popup.vue'
// import { email, required } from '@vuelidate/validators'
// import { useVuelidate } from '@vuelidate/core'
export default {
  name: 'Primary',
  components: { Popup },
  props: ['socialItems'],
  data () {
    return {
      slideItems: [
        {
          num: '02',
          title: 'Водопады Иландии'
        },
        {
          num: '03',
          title: 'Сказочные Доломиты'
        },
        {
          num: '04',
          title: 'Неизвестная Норвегия'
        }
      ],
      handlePopupForm: false,
      form: {
        name: '',
        email: ''
      }
    }
  },
  methods: {
    handlePopupChange (change = true) {
      this.handlePopupForm = change
    }
  }
}
</script>
<style lang="scss">
$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.primary {
  background-image: url("../assets/image/imgBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  //height: 100vh;
  display: flex;
  padding-top: 240px;
  padding-bottom: 80px;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    @include adaptiv-font(40, 24);
    line-height: 136%;
    color: #FFFFFF;
    width: 36%;
    margin-bottom: 50px;
    @media (max-width: 767px) {
      @include adaptiv-font(40, 24);
    }
  }

  &__desc {
    @include adaptiv-font(25, 14);
    display: flex;
    justify-content: flex-start;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 180%;
    color: #FFFFFF;
    width: 26%;
    margin-bottom: 70px;
  }

  &__wrapper {
    display: flex;
  }

  &__play {
    display: flex;
    max-width: 220px;
  }

  &__play-icon {
    margin-right: 21px;
    cursor: pointer;

    & img:hover {
      background-color: #3CDCFF;
    }
  }

  &__play-text {
    max-width: 125px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    @include adaptiv-font(16, 12);
    line-height: 162%;
    color: #A2A9B7;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__socials {
    display: flex;
    flex-direction: column;

    &-list {
      display: flex;
      justify-content: center;
    }

    &-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      @include adaptiv-font(14, 12);
      line-height: 17px;
      letter-spacing: 0.01em;
      color: #FEFFFF;
      margin-bottom: 17px;
    }
  }

  &__button {
    margin-right: 60px;
  }
}

.primary__slides {
  display: flex;
  justify-content: space-between;
  margin: 0 -13.5px;
}

%plus {
  background-size: 100% 100%;
  transition: background-size 0.3s ease;
}

.slides-item {
  max-width: 285px;
  width: 100%;
  height: 200px;
  margin: 0 13.5px;

  &__wrapper {
    position: relative;
    background-image: url(../assets/image/imgIsland.png);
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    @extend %plus;
    border-radius: 16px;

    &:hover {
      background-size: 110% 110%;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(358.86deg, rgba(0, 0, 0, 0.2) 4.87%, rgba(0, 0, 0, 0.182234) 11.1%, rgba(0, 0, 0, 0) 74.98%, rgba(0, 0, 0, 0.0842) 74.98%);
      z-index: 2;
    }
  }
}

.slider-item {
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */
    color: #FFFFFF;
    z-index: 3;
  }

  &__number {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    color: #FFFFFF;
    z-index: 3;
  }
}
</style>
