<template>
  <section class="tours">
    <div class="tours__container">
      <div class="row">
        <div class="tours__tour col-6">
          <div class="tours__date">
            <div class="tours__number">
              10-24
            </div>
            <div class="tours__month">
              апреля
            </div>
          </div>
          <div class="tours__title">
            <div class="tours__title-text">
              Большое ущелье на острове Гавайи
            </div>
            <div class="tours__title-arrow">
              →
            </div>
          </div>
        </div>
        <div class="tours__text col-6">
          <div class="tours__text-title title">
            Посмотрите все направления туров
          </div>
          <div class="tours__text-desc desc">
            Берега океанов и дикие пляжи с редкими породами деревьев. Местная архитектура и первозданный вид дикой природы
          </div>
          <div class="tours__button">
            <a class="button button--trans" href="#">Смотреть все</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Touer'
}
</script>
<style lang="scss">
.tours {
  padding: 160px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__tour {
    background: {
      image: url("../assets/image/imgHawaii.png");
      size: cover;
      position: center;
    };
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 29px 60px 45px 60px;
  }

  &__date {
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    /* or 145% */
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      max-width: 199px;
      width: 100%;
    }
  }

  &__number {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 126%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
  }

  &__month {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 39px 48px 52px 48px;

    &-title{
      margin-bottom: 30px;
    }

    &-desc{
      margin-bottom: 51px;
    }
  }
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -30px -27px;
}

.col-6 {
  margin: 30px 27px;
  width: calc(100% / 12 * 6 - 54px);
  @media (max-width: 910px) {
    width: calc(100% - 54px);
  }
}
</style>
