<template>
  <Header
    :Logos="Logos"
  />
  <main class="main">
    <Primary
      :socialItems="socialItems"
    />
    <BannerForm/>
    <Touer/>
  </main>
  <Footer
    :Logos="Logos"
    :socialItems="socialItems"
  />
</template>

<script>
import Header from './components/Header.vue'
import Primary from './components/Primary.vue'
import Footer from './components/Footer.vue'
import BannerForm from './components/BannerForm.vue'
import Touer from './components/Touer.vue'

export default {
  name: 'App',
  components: {
    Header,
    Primary,
    Footer,
    BannerForm,
    Touer
  },
  data () {
    return {
      Logos: [
        {
          name: 'iconLogoWhite',
          url: '#'
        }
      ],
      socialItems: [
        {
          link: 'twitter',
          url: '#'
        },
        {
          link: 'twitter',
          url: '#'
        },
        {
          link: 'twitter',
          url: '#'
        },
        {
          link: 'twitter',
          url: '#'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
#app {
}

.fade-enter-active {
  transition: opacity .9s;
}

.fade-leave-active {
  transition: opacity .9s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
}

.logo {
  &__link {
    display: flex;
  }

  &--white {
    fill: #FFFFFF;
  }

  &--black {
    fill: #000000;
  }
}

.socials-img--white{
  fill: #FFFFFF;
}

</style>
