@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Medium.eot');
  src: local('☺'), url('../../assets/fonts/Montserrat-Medium.woff') format('woff'), url('../../assets/fonts/Montserrat-Medium.ttf') format('truetype'), url('../../assets/fonts/Montserrat-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-Regular.eot');
  src: local('☺'), url('../../assets/fonts/Montserrat-Regular.woff') format('woff'), url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype'), url('../../assets/fonts/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat-SemiBold.eot');
  src: local('☺'), url('../../assets/fonts/Montserrat-SemiBold.woff') format('woff'), url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../../assets/fonts/Montserrat-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../assets/fonts/PlayfairDisplay-Bold.eot');
  src: local('☺'), url('../../assets/fonts/PlayfairDisplay-Bold.woff') format('woff'), url('../../assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype'), url('../../assets/fonts/PlayfairDisplay-Bold.svg') format('svg');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../assets/fonts/PlayfairDisplay-ExtraBold.eot');
  src: local('☺'), url('../../assets/fonts/PlayfairDisplay-ExtraBold.woff') format('woff'), url('../../assets/fonts/PlayfairDisplay-ExtraBold.ttf') format('truetype'), url('../../assets/fonts/PlayfairDisplay-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../../assets/fonts/PlayfairDisplay-Medium.eot');
  src: local('☺'), url('../../assets/fonts/PlayfairDisplay-Medium.woff') format('woff'), url('../../assets/fonts/PlayfairDisplay-Medium.ttf') format('truetype'), url('../../assets/fonts/PlayfairDisplay-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

